<style>
</style>
<div [ngClass]="typePage == 'group' ? '' : 'list-group'" *ngIf="type != 'badge'">
  <a [ngClass]="typePage == 'group' ? '' : 'list-group-item'">
    <h4 style="color: #082464;float:left"> {{title}}</h4>
    <br />
    <div class="media col-md-12" *ngIf="imgSrc != ''">
      <figure class="pull-left-" (click)="articleSelected()">
        <img *ngIf="!isProd" class="media-object img-rounded img-responsive img-fluid" src="../../assets/img/culte-de-paques-1024x678.jpg" alt="placehold.it/350x250">
        <img *ngIf="isProd" class="media-object img-rounded img-responsive img-fluid" src="{{imgSrc}}" alt="placehold.it/350x250">
      </figure>
      <br />
    </div>
    <div class="media col-md-12">
      <span class="list-group-item-text-" style="text-align: -webkit-left;" *ngIf="textShow.length > 1">
        <div [innerHtml]="textShow"></div>
      </span>
    </div>
    <div class="row">
      <div class="col-6">
      </div>
      <div class="col-6">
        <u style="float:right" *ngIf="textDefault.length>250"> <i> <a style="cursor:pointer" (click)="articleSelected()">lire la suite...</a></i></u>
      </div>
    </div>
  </a>
</div>
<!-------------------------------------------------------------------------------------------------------------------------------->

<div class="list-group" *ngIf="type == 'badge'">
  <a class="list-group-item">
    <div >
      <div class="media col-md-7">
        <figure class="pull-left-" *ngIf="imgSrc != ''">
          <img class="media-object img-rounded img-responsive img-fluid" src="{{imgSrc}}" alt="placehold.it/350x250">
        </figure>
        <br />

      </div>
      <div class="media col-md-5">
        <span class="list-group-item-text-" style="text-align: -webkit-left;">
          <div [innerHtml]="textBadge1"></div>
        </span>
      </div>
    </div>
    <div class="media col-md-12" *ngIf="imgSrc == ''">
      <span class="list-group-item-text-" style="text-align: -webkit-left;">
        <h4 style="color: #082464" *ngIf="type != 'badge'"> {{title}}</h4>
        <span *ngIf="type != 'badge'">
          <span [innerHtml]="textShow"></span> <span *ngIf="textDefault.length>250">...</span>
        </span>
        <div [innerHtml]="textBadge1"></div>
      </span>
    </div>
    <div class="row">
      <div class="col-8">
      </div>
      <div class="col-4">
      </div>
    </div>
    <br />
    <div [innerHtml]="textBadge2"></div>
  </a>
</div>


