<style>
  <style >
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
</style>
<section id="contact" class="responsive-iframe" style="margin-left: 30px;">
  <H3>CONTACT</H3>
  <br />
  <div class=" " style="width:90%">
    <div class="row">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" name="nom" placeholder="Nom" [(ngModel)]="data.nom">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="E-mail" [(ngModel)]="data.email">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" name="phone" placeholder="Phone" [(ngModel)]="data.phone">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="12" placeholder="Message" [(ngModel)]="data.message"></textarea>
          </div>
          <button *ngIf="!loading" class="btn btn-default" (click)="sendMail(data)" type="button" name="button" [disabled]="!(data.nom.length > 0 && data.email.length > 0 && data.message.length > 0)">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Envoyer
          </button>

          <div *ngIf="loading">
            <div class="spinner-grow" role="status" *ngIf="loading">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <br />
          <div style="color:forestgreen" *ngIf="messageSendTimer">
            Message envoyé
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
<br />
