
<div style="margin-top:20px; border-bottom-color:black"></div>


<div class="row row-striped" [ngClass]="isOK ? '' : 'gris' " style="zoom: 80%; margin: 0px; padding: 0px; border: 1px solid #e1d0d0; border-radius: 10px; ">
  <div class="col-1 ">
    <h1 class="display-6">
      <span class="badge badge-secondary">
        {{le}}
        <br />
        {{mois.substring(0, 3)}}
      </span>
    </h1>
  </div>
  <div class="col-11">
    <h5 class="text-uppercase"><strong>{{title}}</strong></h5>
    <ul class="list-inline">
      <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{jour}}</li>
      <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>{{heure}}</li>
      <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{lieu}}</li>
    </ul>
    <img class="img-fluid" src="{{img}}" alt="Alternate Text" width="150px" style="float:right; border-radius: 6px; margin-bottom: 5px; margin-top: 5px; margin-left: 15px;" />
    <div class="row "style="display:block">
      <div class=" col-md-12" *ngIf="true">
        <p>{{description}} </p>
      </div>
    </div>
  </div>
</div>

<!--<div class="row row-striped" [ngClass]="isOK ? '' : 'gris' " style="margin: 0px; padding: 0px; border: 1px solid #e1d0d0; border-radius: 10px; ">
  <div class="col-1 text-right">
    <h1 class="display-4">
      <span class="badge badge-secondary">
        {{le}}
        <br />
        {{mois.substring(0, 3)}}
      </span>
    </h1>
  </div>
  <div class="col-11">
    <div class="media col-md-8" *ngIf="true">
      <img class="img-fluid" src="{{img}}" alt="Alternate Text" width="150px" style="border-radius: 6px; margin-bottom: 5px; margin-top: 5px; margin-left: 15px;" />
    </div>
    <div class="row ">

      <div class=" col-md-8" *ngIf="true">
        <h5 class="text-uppercase"><strong>{{title}}</strong></h5>
        <ul class="list-inline">
          <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{jour}}</li>
          <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>{{heure}}</li>
          <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{lieu}}</li>
        </ul>
        <p>{{description}} </p>
      </div>
    </div>
  </div>
</div>-->



<!--<div class="row row-striped visible-xs visible-sm " [ngClass]="isOK ? '' : 'gris' " style="margin: 0px; padding: 0px; border: 1px solid #e1d0d0; border-radius: 10px; ">m
  <div class="col-4 text-left">
    <h1 class="display-4">
      <span class="badge badge-secondary">
        {{le}}
        <br />
        {{mois.substring(0, 3)}}
      </span>
    </h1>
  </div>
  <div class="col-8 text-right">
    <div style="float:right">
      <img class="img-fluid" src="{{img}}" alt="Alternate Text" width="80%" style="border-radius: 6px; margin-bottom: 5px; margin-top: 5px; margin-left: 15px;" />
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="media col-md-4" *ngIf="true">-->
        <!--<img class="img-fluid" src="{{img}}" alt="Alternate Text" width="150px" style="border-radius: 6px; margin-bottom: 5px; margin-top: 5px; margin-left: 15px;" />-->
      <!--</div>
      <div class=" col-md-8" *ngIf="true">
        <h5 class="text-uppercase"><strong>{{title}}</strong></h5>
        <ul class="list-inline">
          <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{jour}}</li>
          <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>{{heure}}</li>
          <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{lieu}}</li>
        </ul>
        <p>{{description}} </p>
      </div>
    </div>
  </div>
</div>-->





