<div class="">
  <div class="row" style=" margin-right: 0px; margin-left: 0px;">
    <!-------------------------------------------------------------------------------------------------------------------------------->
    <div class="col-lg">
      <!-------------------------------------------------------------------------------------------------------------------------------->
      <div class="list-group" class="visible-xs">
        <a class="list-group-item">
          <h4 style="color: #082464;float:left">Verset du jours </h4>
          <br />
          <div class="media col-md-12" *ngIf="true">
            <div>
              <img class="img-fluid" src="{{srcDayUrl}}" alt="Alternate Text" />
              <br />
              <div style=" margin-top: -25px; color: white;" [innerHtml]="versionVerset"></div>
              <br />
            </div>
          </div>
        </a>
      </div>
      <br />
      <!-------------------------------------------------------------------------------------------------------------------------------->

      <div class="list-group">
        <a class="list-group-item">
          <h4>
            <span style="color: #082464;float:left">ANNONCES - VAOVAO</span>
          </h4>
          <br />
          <br />
          <div class="col-md-12" *ngIf="true" style="margin-left:10px">
            <div class="spinner-grow" role="status" *ngIf="loading.articles">
              <span class="sr-only">Loading...</span>
            </div>
            <div *ngIf="!loading.articles">
              <div *ngFor="let ar of dataArcticles.slice(0, 2);">
                <div class="row row-striped" style="margin: 0px; padding: 0px; border: 1px solid #e1d0d0; border-radius: 10px;margin-bottom:10px ">
                  <div class=" col-md-12">
                    <app-article (onSelected)="selectArticle($event)" typePage="group" title="{{ar.title}}" id="{{ar.id}}" text="{{ar.description}}" date="{{ar.date}}" user="{{ar.user}}" imgSrc="{{ar.img}}"></app-article>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-default" *ngIf="!loading.articles" style=" margin-left: 10px;" type="button" name="button">
            <a routerLink="/vaovao">      Plus d'annonces</a>
          </button>
        </a>
      </div>

      <!-------------------------------------------------------------------------------------------------------------------------------->



      <div class="list-group">
        <a class="list-group-item">
          <h4 style="color: #082464;float:left;margin-bottom:10px">INFORMATIONS - FAMPAHAFANTARANA </h4>
          <br />
          <br />
          <div class="spinner-grow" role="status" *ngIf="loading.infos">
            <span class="sr-only">Loading...</span>
          </div>
          <div *ngIf="!loading.infos">
            <div class=" col-md-12" *ngFor="let ar of dataInfos">
              <div class="row row-striped" style="margin: 0px; padding: 0px; border: 1px solid #e1d0d0; border-radius: 10px;margin-bottom:10px ">
                <div class=" col-md-12">
                  <h5 class="text-uppercase" style=" text-align: left;"><strong>{{ar.title}}</strong></h5>
                  <p style=" text-align: justify;">{{ar.description}} </p>
                </div>
              </div>

            </div>
          </div>

        </a>
      </div>
      <!-------------------------------------------------------------------------------------------------------------------------------->
      <div class="list-group">
        <a class="list-group-item">
          <h4>
            <br />
            <span style="color: #082464;float:left">PHOTOS - SARY</span>
          </h4>
          <br />
          <div class="spinner-grow" role="status" *ngIf="loading.photos">
            <span class="sr-only">Loading...</span>
          </div>
          <div *ngIf="!loading.photos">

            <div class="row row-striped" style="margin: 0px; padding: 0px; border: 1px solid #e1d0d0; border-radius: 10px;margin-bottom:10px ">
              <div class=" col-md-12">
                <container>
                  <h5 class="text-uppercase" style=" text-align: left;"><strong>Sary Birao</strong></h5>
                  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" *ngFor="let ar of dataSarySampana" style="text-align: -webkit-center;">
                        <img *ngIf="isProd" [src]="ar" class="d-block w-100" alt="...">
                        <img *ngIf="!isProd" src="../../assets/img/culte-de-paques-1024x678.jpg" class="d-block w-75" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </container>
              </div>
            </div>


            <div class="row row-striped" style="margin: 0px; padding: 0px; border: 1px solid #e1d0d0; border-radius: 10px;margin-bottom:10px ">
              <div class=" col-md-12">
                <container>
                  <h5 class="text-uppercase" style=" text-align: left;"><strong>Sary Sampana</strong></h5>
                  <div id="carouselExampleControlsSampana" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" *ngFor="let ar of dataSaryBirao" style="text-align: -webkit-center;">
                        <img *ngIf="isProd" [src]="ar" class="d-block w-100" alt="...">
                        <img *ngIf="!isProd" src="../../assets/img/IMG-20230422-WA0000-759x1024.jpg" class="d-block w-75" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsSampana" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsSampana" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </container>
              </div>
            </div>

          </div>
          <button class="btn btn-default" *ngIf="!loading.photos" style=" margin-left: 10px;" type="button" name="button">
            <a routerLink="/sary">     Plus d'images</a>
          </button>
        </a>
        <br />
      </div>
      <!-------------------------------------------------------------------------------------------------------------------------------->

      <br />
      <div class="list-group">
        <a class="list-group-item">
          <h4 style="color: #082464;float:left">PERICOPE DE l'ANNEE</h4>
          <br />
          <div class="media col-md-12" *ngIf="true">
            <embed src="/assets/pdf/calendrier.pdf"
                   style="width: 100%;height: 500px"
                   type="application/pdf">
          </div>
        </a>
      </div>

      <!-------------------------------------------------------------------------------------------------------------------------------->
    </div>
    <!-------------------------------------------------------------------------------------------------------------------------------->
   

    <div class="col-sm" style=" margin-right: 20px;" *ngIf="true">
      <!-------------------------------------------------------------------------------------------------------------------------------->
      <app-article title="Titre 1 " type="badge" text="{{text}}" date="12/02/2024" user="fpma-melun" imgSrc=".././assets/img/eglise.jpg"></app-article>
      <!-------------------------------------------------------------------------------------------------------------------------------->
      <div class="list-group "  >
        <a class="list-group-item hidden-xs">
          <h4 style="color: #082464;float:left">Verset du jours </h4>
          <br />
          <div class="media col-md-12" *ngIf="true">
            <div>
              <img class="img-fluid" src="{{srcDayUrl}}" alt="Alternate Text" />
              <br />
              <div style=" margin-top: -25px; color: white;" [innerHtml]="versionVerset"></div>
              <br />
            </div>
          </div>
        </a>
      </div>
      <!-------------------------------------------------------------------------------------------------------------------------------->
      <div class="list-group">
        <a class="list-group-item">
          <h4 style="color: #082464;float:left">Evenements </h4>
          <br />
          <div class="spinner-grow" role="status" *ngIf="loading.events">
            <span class="sr-only">Loading...</span>
          </div>
          <div class=" col-md-12" *ngIf="!loading.events">
            <div *ngFor="let dt of dataEvents">
              <app-daterow [lieu]="dt.lieu" [img]=" dt.type == 'culte' ? '.././assets/img/culte.png' :  '.././assets/img/distance.png' " [isOK]="dt.isOK" [mois]="dt.mois" [description]="dt.description" [heure]="dt.heure" [jour]="dt.jour" [le]="dt.le" [title]="dt.title"></app-daterow>
            </div>
          </div>
          <br />
          <a  (click)="openModalEvent()" style="margin-top: 15px; color: #428bca;cursor:pointer">
            <u>Plus d'evenements</u>
          </a>
        </a>
      </div>
      <!-------------------------------------------------------------------------------------------------------------------------------->
      <br />
      <div class="list-group">
        <a class="list-group-item">
          <h4 style="color: #082464;float:left">FPMA Melun -  69 Av. du Maréchal Foch, 77190 Dammarie-les-Lys </h4>
          <br />
          <div class="media col-md-12" *ngIf="true">
            <iframe id="map-canvas" class="map_part" width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%&amp;height=100%&amp;hl=en&amp;q=69 Av. du Maréchal Foch, 77190 Dammarie-les-Lys&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">Powered by <a href="https://embedgooglemaps.com">how to embed google maps</a> and <a href="https://beviljaralla.se/">smslån som beviljar alla</a></iframe>
          </div>
        </a>
      </div>
      <!-------------------------------------------------------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------------------------------------------------------->

    </div>
  </div>
  <br />
</div>

<!-------------------------------------------------------------------------------------------------------------------------------->


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-fullscreen-sm-down">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="clearArticleSelected()"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="card text-center">
          <div class="card-header">
            <h5 class="card-title">{{titleModalSelected}}</h5>
          </div>
          <div class="card-body" style="text-align: left!important;">

            <p class="card-text" [innerHtml]="textModalSelected">
            </p>
            <img *ngIf="imgModalSelected != '' && isProd" src="{{imgModalSelected}}" style="width: 90%;" class="img-fluid" alt="...">
            <img *ngIf="imgModalSelected != '' && !isProd" src="../../assets/img/culte-de-paques-1024x678.jpg" style="width: 90%;" class="img-fluid" alt="...">
          </div>
          <div class="card-footer text-muted">
            publié  le {{dateModalSelected | date: 'dd/MM/yyyy'}}
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="mb1 black bg-darken-1" (click)="clearArticleSelected()" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="myModalEvent">
  <div class="modal-dialog modal-fullscreen-sm-down">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <!-- Modal body -->
        <div class="card text-center">
          <div *ngFor="let dt of dataEventsDefault" style="margin: 5px" >
            <app-daterow [lieu]="dt.lieu" [img]=" dt.type == 'culte' ? '.././assets/img/culte.png' :  '.././assets/img/distance.png' " [mois]="dt.mois" [description]="dt.description" [heure]="dt.heure" [jour]="dt.jour" [le]="dt.le" [isOK]="dt.isOK" [title]="dt.title"></app-daterow>
          </div>
        </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="mb1 black bg-darken-1" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>  
  

